@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('file:///C:/Users/mateu/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-03-09_104211/fonts/Helvetica/font.ttf');
}
